<div class="panel panel-default">
  <div class="panel-heading">Forgot Password</div>
  <div class="panel-body">
    <form id="forgotpass" name="forgotpass" method="post" action="forgotPassword">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Send Reset</button> 
    </form>
    <br />

  </div>
</div>
