<div class="panel panel-default">
  <div class="panel-heading">Forgot Password</div>
  <div class="panel-body">
    <form id="forgotpass" name="forgotpass" method="post">
      <div class="form-group">
        <label for="password">Password</label>
        
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button> 
    </form>
    <br />

  </div>
</div>
